@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
#showcards {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 85vh;
  position: relative;
}

html {
  background-color: black;
}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "button";
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  font-family: roboto;
  text-align: center;
  transition: all 0.5s ease 0s;
  margin: 30px 20px;
}

.card-text {
  grid-area: text;
  margin: 25px;
}

.card-text h1 {
  margin-top: 0px;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 500;
  padding-top: 15px;
}

.card-button {
  grid-area: button;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #eb4034;
  transition: all 0.5s ease 0s;
}
.card-button a {
  text-decoration: none;
  position: absolute;
  width: 95%;
  height: 95%;
  padding-top: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
}

.card-button:hover {
  color: whitesmoke;
  background: #eb4034;
  box-shadow: 0 0 10px #eb4034, 0 0 40px #eb4034, 0 0 80px #eb4034;
  transform-style: 1s;
}
.card-button:hover a {
  color: aliceblue;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.searchbar {
  background-color: white;
  width: 300px;
  border-radius: 30px;
  margin: auto;
  margin-top: 20px;
}

.searchbar input {
  font-size: 20px;
  font-weight: bold;
  padding-left: 40px;
}

.noMovie {
  color: #eb4034;
  padding-bottom: 200px;
  font-family: "Monserrat", sans-serif;
}

a:focus {
  outline: 0;
}

input:focus {
  outline: 0;
}

@media all and (max-width: 500px) {
  .searchbar {
    display: block;
    margin: 0 auto;
  }
}
