@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.new {
  width: 400px;
  background: #e8f0fe;
  position: absolute;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.new h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid silver;
}

.new form {
  padding: 0 40px;
}

form .title,
.genre,
.cast,
.director,
.review {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

#title,
#cast,
input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  outline: none;
  border: none;
  background: none;
  font-size: 20px;
  word-wrap: break-word;
}

input {
  height: 100px;
  word-wrap: break-word;
}

.Add {
  width: 100%;
  height: 50px;
  background: #eb4034;
  border-radius: 25px;
  font-size: 18px;
  margin-bottom: 50px;
  margin-top: 20px;
  font-weight: 700;
  color: #e9f4fb;
  cursor: pointer;
  outline: none;
}
.Add:focus {
  outline: none;
}

#review {
  font-size: 20px;
  border: none;
  background: none;
  outline: none;
}

input[type="file"] {
  display: none;
}
.image label {
  color: white;
  height: 40px;
  width: 200px;
  background-color: #3dbdf0;
  border-radius: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#file-upload-filename {
  font-family: "Monserrat", sans-serif;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 5px;
}
