@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.show {
  display: flex;
  color: white;
  font-family: "Montserrat", sans-serif;
  justify-content: space-evenly;
}

.Image {
  display: inline-block;
  height: 425px;
  border: 2px solid #eb4034;
  margin-top: 25px;
  margin-left: 10px;
}

.comment {
  margin-top: 25px;
  width: 200px;
}

.commentDisplay {
  margin-top: 10px;
}

#commentDisp {
  margin-left: 40px;
  margin-top: 10px;
  font-size: 16px;
  color: #eb4034;
}
.info {
  margin-top: 15px;
}
.upperTitle {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.upperTitle h1 {
  margin-left: -40px;
}

#commentText {
  word-wrap: break-word;
}

.indComment {
  padding: 10px;
  width: 300px;
  border: 2px solid #eb4034;
}

#back {
  background-color: #eb4034;
  height: 30px;
  width: 60px;
  border-radius: 35px;
  margin-left: 10px;
  cursor: pointer;
}
#back:focus {
  outline: none;
}

#delete-show {
  background-color: #eb4034;
  cursor: pointer;
}

#edit-show {
  font-family: "Montserrat", sans-serif;
  width: 56px;
  background-color: #eb4034;
  cursor: pointer;
}

#movieReview {
  width: 300px;
  text-align: center;
}

#review1 {
  color: #eb4034;
  text-align: center;
  margin-top: 10px;
}

.reviewBox {
  margin-top: 30px;
}

@media all and (max-width: 500px) {
  .show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .indComment {
    width: 220px;
    margin-bottom: 5px;
  }

  .comment {
    margin-left: -80px;
  }
}
